<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-icon name="arrow-back-circle-outline" size="large" (click)="back()"></ion-icon>
      </ion-col>
      <ion-col>
        <!-- <ion-icon name="share-social-outline" size="large" class="ion-float-right"></ion-icon> -->
      </ion-col>
    </ion-row>
  </ion-grid>
  <ion-list>
    <ion-list-header>
        <ion-label>Messages</ion-label>
    </ion-list-header>

    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/img.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Darey</h2>
        <h3>Tenant/Renter</h3>
        <p>Hi, I am your new tenant</p>
      </ion-label>
    </ion-item>
    <ion-item>
      <ion-avatar slot="start">
        <img src="assets/images/img.jpg">
      </ion-avatar>
      <ion-label>
        <h2>Matilda</h2>
        <h3>Tenant/Renter</h3>
        <p>Hi, How do I make payment</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>