.title {
    text-align: center;
    font-size: 40px;
    padding-top: 50px;
}

.form-title {
    text-align: center;
    font-size: 25px;
}
.tab{
    width: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

.p-b-20 {
    padding-bottom: 20px;
}

.m-t-20 {
    margin-top: 20px;
}

.icon {
    display: inline-block;
    font-size: 20px;
    color: #ffC977;
    vertical-align: middle;
   }

   .text{
     display: inline-block;
     vertical-align: middle;
   }

   .forgot {
       text-align: center;
       padding: 10px;
       cursor: pointer;
   }
