.greet {
    text-align: center;
    margin-top: 30px;
    font-size: 25px;
}
.gt {
    text-align: center;
    font-size: 15px;
    margin-top: 15px;
    margin-bottom: 30px;
}
.search-button {
    margin-top: 30px;
}

ion-content {
    --background: #ccc url("../../../assets/images/bg.png") no-repeat center center / cover;
}